@media screen and (max-width: 1390px) {
  .f-left {
    width: 40%;
    padding-left: 30px;
  }

  .f-right {
    width: 55%;
  }

  .quiz-content {
    padding: 26px 20px 0 20px;
  }

  .quiz-option {
    min-width: 170px;
    padding-inline: 10px;
  }

  .activity-content {
    padding-inline: 150px;
  }
}

@media (max-width: 1200px) {
  .menu-item-ele {
    align-items: unset;
  }
}

@media screen and (max-width: 1180px) {
  .logo {
    display: none;
  }

  .sp-logo {
    display: block;
    width: 50%;
    min-width: 150px;
  }

  .firstview {
    flex-direction: column;
  }

  .f-left {
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .f-right {
    width: 100%;
    height: auto;
    border-radius: 70px;
    padding-block: 60px;
  }

  .event-f-right {
    width: 100% !important;
  }

  .event-f-right img {
    border-radius: 7% !important;
  }

  .question-f-right-img {
    width: 100%;
    height: 100%;
    border-radius: 70px;
  }

  .f-right img {
    border-radius: 7%;
  }

  .quiz-answers {
    padding-inline: 5%;
  }

  .quiz-icon {
    width: 80px;
    height: 78px;
  }

  .quiz-title {
    font-size: 20px;
  }

  .speech-bubble {
    font-size: 25px;
  }

  .activity-content {
    padding-inline: 100px;
  }

  .ofc-down {
    width: 100%;
    padding-inline: 70px;
    flex-direction: column;
  }

  .ofc-down-img {
    width: 70%;
  }

  .ofc-down-text {
    width: 70%;
    margin-top: 50px;
  }

  .activity-items {
    gap: 50px;
  }

  .footer-right {
    width: 75vw;
    padding: 60px 0 30px 180px;
  }

}

@media screen and (max-width: 1020px) {
  .quiz-answers {
    /* display: none; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .quiz-option {
    width: 40%;
  }

  .sp-quiz-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 19%;
  }

  .sp-quiz-answers-ele {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
  }

  .sp-quiz-answers-ele .quiz-option {
    width: 45%;
  }
  .ofc-down{
    margin-top: 170px;
  }

  .footer-right {
    padding: 60px 0 0 180px;
  }

}

@media screen and (max-width: 900px) {
  .section-title {
    font-size: 70px;
  }

  .news {
    flex-direction: column;
  }
  .news .section-text-part {
    border-top: none;
    text-align: center;
  }
  .platforms{
    padding: 0px 20px 200px 20px;
  }
  .plat-header{
    padding-inline: 0px;
  }
  .news-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: none;
  }

  .more-button {
    margin-right: 0;
    margin-left: auto;
  }

  .event-right {
    padding: 20px;
  }
  .event-slide{
    padding-right: 0;
  }

  .range-button {
    width: 90px;
    height: 90px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .event-container>.quiz-sidebar {
    display: none;
  }

  .event-right .quiz-sidebar {
    display: block;
  }

  .quiz {
    flex-direction: column;
    padding-inline: 20px;
  }

  .event .quiz-sidebar {
    padding: 0;
  }

  .quiz-sidebar {
    display: flex;
    flex-direction: column;
    padding: 45px 0 50px 0;
    text-align: start;
    border-right: none;
    padding: 0
  }

  .event .quiz-sidebar .section-title {
    writing-mode: unset !important;
  }

  .quiz-sidebar .section-title {
    writing-mode: unset;
    justify-content: unset;
  }

  /* .event .quiz-sidebar .section-title {
    writing-mode: vertical-rl !important;
    margin-left: 0;
    margin-right: auto;
  } */

  .quiz-icon {
    width: 70px;
    height: 68px;
  }


  .section-title-jp {
    writing-mode: unset;
  }

  .quiz-content {
    padding-inline: 0;
  }

  .plat-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .plat-header .subtitle {
    display: none;
  }

  .plat-content {
    margin-top: 125px;
  }

  .plat-cards {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
  }

  .plat-card {
    width: 50%;
    min-width: 300px;
  }

  .plat-shape {
    width: 100%;
    height: 91%;
    top: 320px;
    padding: 25px 20px 200px 20px;
    margin-top: -150px;
  }

  .plat-shape-round {
    top: 91%;
    left: -10%;
  }
  .activity {
    padding: 80px 10px 140px 20px;
}
  .activity-content {
    padding-inline: 50px;
  }

  .activity-items {
    flex-direction: column;
  }

  .activity-item1 {
    margin: 0 0 0 auto;
  }

  .activity-item-img1 {
    display: none;
  }

  .sp-activity-item-img1 {
    display: block;
  }

  .ofc {
    padding-inline: 20px;
  }

  .ofc .section-text {
    flex-direction: column;
  }

  .ofc .section-text-right {
    margin-left: 0;
  }

  .ofc .section-text-right p {
    font-size: 20px;
  }

  .ofc .section-text-right h2 {
    font-size: 30px;
  }

  .ofc-down {
    padding-inline: 50px;
  }

  .footer-left {
    top: 0;
    left: 0;
    z-index: -1;
  }

  .footer-card {
    width: 70vw;
    height: 450px;
    padding: 48px 48px 100px 48px;
  }

  .footer-right {
    width: 70vw;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
    border-top-left-radius: 200px 223px !important;
    border-bottom-left-radius: 200px 223px;
    top: 320px;
    right: 0;
    padding: 60px 60px 30px 180px;
    min-width: 550px;
    border: 3px solid white;
  }

  .footer-copyright {
    font-size: 14px;
  }
  .evnt-month-desplay .event-card-text .title
  {
   font-size: 16px;
   }
}

@media only screen and (max-width:768px) {
  .range-button {
    width: 80px;
    height: 80px;
    padding: 20px 10px;
    font-size: 12px;
  }
  .f-left{
    padding-inline: 20px;
  }
  .news {
    padding: 0px 100px 82px 100px;

  }
  .event-card-text .info{
  padding: 0;
}
.event-card-text {
    padding-top: 0px;
}
  .picture-slide{
    margin-top: 16%;
  }
  .swiper-handle-group {
    transform: translateX(54px) translateY(40px);
}
.picture-slide .swiper-button-prev, .picture-slide .swiper-button-next{
  width: 36px;
  height: 36px;
}
.picture-slide{
  padding: 0px 40px;
}
.picture-slide .swiper-button-next {
  margin-left: 10px;
}
.history{
  border-bottom: 0px;
  padding: 20px 0 0px 0;
}
.ofc{
  border-bottom: 0px;
}
.activity {
 
  padding: 10px 10px 140px 20px;
}
}

@media (max-width: 700px) {
  .section-title, .picture .section-title {
    font-size: 50px;
  }


  .news-right {
    align-items: flex-start;
  }

  .quiz-icon {
    width: 60px;
    height: 58px;
  }

  .speech-bubble {
    font-size: 16px;
  }

  .activity .section-text-part .section-title-img img {
    display: none;
  }

  .section-text-left img {
    display: none;
  }

  .activity .section-text-part .section-title-text {
    font-size: 25px;
    margin: 0;
  }

  .ofc-down-img,
  .ofc-down-text {
    width: 100%;
  }

  .ofc .section-text-right p {
    font-size: 18px;
  }

  .ofc .section-text-right h2 {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .sp-quiz-answers {
    padding-inline: 50px;
  }

  .quiz-content {
    padding-top: 0;
  }

  .quiz-title {
    padding: 15px 0 0 0;
  }

  .quiz-question-box {
    padding: 30px 0 0 0;
  }

  .history-container {
    margin-inline: 0;
    padding: 25px;
  }
  .picture-heading-area {
    margin-top: 10px;
  }
  .picture-heading-left .picture-heading-right{
    margin-top: 16px;
  }
  .picture-slide{
    padding: 0px 20px;
    margin-top: 10%;
  }
  .swiper-handle-group {
    transform: translateX(34px) translateY(12px);
}
.ofc{
  padding: 70px 27px 80px 27px;
}
.ofc-down {
  margin-top: 130px;
}
  footer {
    margin-top: 0;
  }

  .footer-right {
    padding: 60px auto 30px 200px;
    min-width: 450px;
  }

  .footer-copyright {
    width: 300px;
    font-size: 12px;
  }

  .event {
    width: 100%;
    padding: 14px 15px 28px 15px;

  }

  /* .event-right{
    padding-top: 10%;
  } */
  .event-button-group {
    gap: 10px;
  }

  .range-button {
    width: 60px;
    height: 60px;
    padding: 15px 10px;
    font-size: 12px;
  }

  .event-slide {
    padding-top: 15px;
  }

  .event .next-btn,
  .event .prev-btn {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }

  .event-handle-button {
    gap: 10px;
  }

  .event-handle-button p {
    font-size: 15px;
  }
  .f-event-date h3{
    font-size: 30px;
  }
  .f-event-title{
    font-size: 22px;
  }
  .news-right {
    min-width:unset;
} 
.section-title-jp{
  font-size: 20px;
}
.quiz-title{
  font-size: 18px;
}
}
@media (max-width:550px) {
  .news {
    padding: 0px 50px 82px 50px;

  }
}
@media (max-width: 520px) {
  .news-right {
    min-width: unset;
  }

  .sp-quiz-answers {
    padding-inline: 0;
  }

  .speech-bubble {
    font-size: 14px;
  }

  .quiz-icon {
    width: 50px;
    height: 48px;
  }

  .speech-bubble {
    font-size: 16px;
  }

  .plat-card {
    width: 100%;
    /* min-width: 320px; */
  }
  .ofc {
    padding: 70px 27px 50px 27px;
}

  .footer-copyright {
    padding-bottom: 30px;
  }
  .evnt-month-desplay .event-card-text .title
  {
   font-size: 14px;
   }
   .event-card-img {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

@media (max-width: 480px) {
  .header-content {
    border-bottom: none;
  }

  .f-event-date h3 {
    font-size: 30px;
  }

  .f-event-date h2 {
    font-size: 30px;
  }

  .quiz-option {
    min-width: unset;
  }
  .quiz-question-box{
    margin-bottom: 0px;
  }
  .quiz-answers {
    padding-inline: 0;
  }
  .history {
    padding: 20px 0 30px 0;
  }
  .history-content .jp{
    font-size: 14px;
    margin-top: 20px;
  }
  .history-desc{
    font-size: 16px;
    margin-top: 20px;
  }
  .history-handle-btn .swiper-button-next, .history-handle-btn .swiper-button-prev
   {
      width: 40px;
      height: 40px;
  }
  .history-handle-btn .swiper-button-next span,
  .history-handle-btn .swiper-button-prev span {
    font-size: 20px;
  }
  .item-age {
    width: 75px;
    height: 75px;
  }
  .item-age :nth-child(1) {
    font-size: 11px;
  }
  .item-age :nth-child(2) {
    font-size: 18px;
  }
  .activity-content {
    padding-inline: 0;
  }

  .activity-items {
    align-items: center;
  }

  .activity-item1 {
    margin-left: 0;
  }

  .ofc-down {
    margin-top: 200px;
    padding-inline: 0;
  }
  .footer-menus {
    padding-right: 0;
    padding-left: 50px;
  }

  .footer-right {
    padding: 60px 10px 20px 200px;
    min-width: 400px;
  }
}

@media (max-width: 410px) {
  .range-button-group {
    gap: 5px;
  }

  .range-button {
    width: 50px;
    height: 50px;
    padding: 12px 5px;
    font-size: 12px;
  }

  .event-slide {
    padding-right: 0px;
  }

  .footer-card {
    min-width: 350px;
    padding: 10px 35px 100px 35px;
  }

  .footer-right {
    min-width: 350px;
  }

  .footer-menus {
    gap: 0;
  }
  .event-card-img {
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .evnt-month-desplay {
    top: 20%;
}
.evnt-month-desplay .event-card-text .title
 {
    line-height: 15px;
}
  .evnt-month-desplay .date p {
    font-size: 20px;
}
  .event-card-img .date{
    left: 5px;
  }
}

@media (max-width: 390px) {
  .renaming-day {
    font-size: 13px;
}
.plat-header{
  padding-inline: 20px;
}
  .renaming-day p span {
    font-size: 20px;
    padding-inline: 5px;
}
  .f-event-title{
    margin-left: 8px;
  }
  .f-right {
    padding-block: 35px;
}

  .news {
    padding: 0px 20px 82px 20px;
}
  .activity-item,
  .activity-item1 {
    min-width: 320px;
  }
  .quiz-title {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .quiz-question-box{
    margin-bottom: 0px;
  }
  .quiz-option {
    width: 48%;
}
.quiz-question-box .speech-bubble p{
  font-size: 12px;
}
.speech-bubble {
  font-size: 20px;
}
.quiz-question-box .speech-bubble{
  padding: 5px 10px;
}
.quiz-question-box .speech-bubble::after{
  top: 21px;
  left: -34px;
}
.quiz-question-box .speech-bubble::before{
  top: 20px;
}
.quiz-answers {
  justify-content: space-around;
  gap: 10px;
  margin-top: 40px;
}
.quiz-result div {
  width: 100%;
}
.range-button-group {
  transform: translateY(-10%);
}
.event-card-text .info{
  padding: 0;
}

.event-card-text {
    padding: 1px 13px;
}

.picture-slide .swiper-button-next {
  margin-left: 0px;
}
.swiper-handle-group {
  transform: translateX(30px) translateY(0px);
}
.picture-heading-left p {
  font-size: 12px;
}
.section-text-part p
 {
    font-size: 12px;
}
.plat-content {
  margin-top: 30px;
}
.plat-shape{
  margin-top: 0px;
  top: 100px;
  height: 93%;
}
.plat-shape-round {
  top: 93%;
  left: -10%;
}
.plat-shape-round {
  width: 200px;
  height: 200px;
}
/* .history-desc {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 24px;
} */

.history {
  padding: 20px 0 30px 0;
}
.history-content .jp{
  font-size: 12px;
  margin-top: 15px;
}
.history-desc{
  font-size: 14px;
  margin-top: 20px;
}
.history-handle-btn .swiper-button-next, .history-handle-btn .swiper-button-prev
 {
    width: 36px;
    height: 36px;
}
.history-handle-btn .swiper-button-next span,
.history-handle-btn .swiper-button-prev span {
  font-size: 18px;
}
.item-age {
  width: 70px;
  height: 70px;
}
.item-age :nth-child(1) {
  font-size: 10px;
}
.item-age :nth-child(2) {
  font-size: 16px;
}
.ofc{
  padding: 50px 27px 30px 27px;
}
.ofc-down {
  margin-top: 340px;
}
.ofc-policy .ofc-title {
  margin-top: 20px;
}
.activity {
  padding: 26px 10px 140px 20px;
}
.activity-item-title h2 {
  font-size: 24px;
  padding-bottom: 15px;
}
  header {
    padding-inline: 18px;
  }
  .firstview {
    padding-block: 0px;
  }
  .range-button {
    width: 45px;
    height: 45px;
    padding: 12px 0px;
    font-size: 11px;
  }
  .f-event-date {
    margin-bottom: 30px;
  }
  .f-to-question{
    margin-top: 30px;
  }
  .f-to-question-content-text{
    padding: 5px 10px;
  }
  .evnt-month-desplay .title {
    font-size: 13px;
  }
  .f-event-date h2 {
    font-size: 26px;
  }
  .f-event-date p{
    font-size: 10px;
  }
  .f-event-title{
    font-size: 20px;
    font-weight: bold;
  }
  .f-to-question-content {
    align-items: end;
}
.more-button {
  width: 84px;
  height: 84px;
}
.more-button span {
  font-size: 12px;
}
.event-handle-button p {
  font-size: 12px;
}
.section-title-jp{
  font-size: 12px;
}
.ofc-down p {
  font-size: 14px;
}
}
